
##set($from = $msg.get('registration.email'))
#set($from = $xwiki.getXWikiPreference("admin_email"))
The first step in becoming a GPS Network member is now complete.

To complete your registration, check your email inbox for message from $from.

If you do not see the email, it may be because of a SPAM filter. Check your SPAM folder and be sure to add GPS Network $from to your "safe senders" list or address book.

*If you have not received an email within 10 minutes, please contact GPS Network by using the [Email Not Received>EmailNotReceived] form.*


