{pre}
Dear GPS Network Member,

Please click this link to complete step 2 of the email verification process. ${link} If the link does not open your browser, please cut and past the link into your browser.

If you received this email by mistake, please contact GPS Network at contactgpsnetwork@nea.org.


Thank you.

The GPS Network Community
www.gpsnetwork.org
{/pre}